h1{
  color: tomato;
  background-color: antiquewhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
  color: blue;
  background-color: antiquewhite;
  font-weight: 800;
}
img{
  width: 200px;
  height: 200px;

}
